{% extends 'base.html' %}
{% block content %}
   <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">صفحه عضویت</h1>
                    <p class="lead fw-normal text-white-50 mb-0">در این صحفه شما میتوانید ثبت نام کنید</p>
                </div>
            </div>
        </header>
<center>
	<form method="POST" action="{% url 'signup' %}">
{% csrf_token %}
	{{ form.as_p }}
	<br>

	<button type="submit" class="btn btn-primary">ثبت نام</button>
</form>
</center>
{% endblock %}